<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular-1.4.8.js"></script>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>


    <title>Connect Four Game</title>
</head>

<body>


<div class="container" ng-app="connect4" ng-controller="controller">
    <div class="page-header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Connect Four Game</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="javascript:void(0);" ng-click="about()">About</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="javascript:void(0);" ng-click="reset()">Reset</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div>
        <div class="disable-text-selection" ng-hide="haveWinner()"><h2>Player <strong>{{player}}</strong> Turn </h2></div>
        <div ng-show="haveWinner()">
            <h1>
                <a href="javascript:void(0);" ng-click="reset()">{{winnerMsg}}</a>
            </h1>
        </div>
        <div ng-show="error !=''">{{error}}</div>
    </div>

    <div class=" vertical-center circular">
        <table class="sortable table table-bordered disable-text-selection">
            <tr ng-repeat="row in data">
                <td ng-class="{orangestyle: cell == 1 , redstyle: cell == 2 , whitestyle: cell == 0}" ng-repeat="cell in row track by $index" ng-click="selectPosition($index)">
                    {{cell}}
                </td>
            </tr>
        </table>

    </div>


</div>


<script src="js/app.js"></script>
<script src="js/controllers.js"></script>


</body>
</html>